<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">LUK PHEAKDEY </h5>
    <a [routerLink]="['signup']" class="btn btn-outline-secondary"> Sign up </a>
    <a [routerLink]="['login']" class="btn btn-outline-success"> Login </a>
</div>
<!-- <app-signup></app-signup> -->
<!-- <app-login></app-login> -->

<router-outlet></router-outlet>
